@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .font-outline-2 {
      -webkit-text-stroke: 2px #3B71CA;
    }
    .font-outline-4 {
      -webkit-text-stroke: 1px white;
    }
  }
  *{
    scroll-behavior: smooth;
  }